
@{
    ViewData["Title"] = "Sehat";
    Layout = "~/Views/Shared/_Layoutyat.cshtml";
}

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header">
        <div class="container pt-lg-40 pb-lg-40">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title text-uppercase">program amanah sehat</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid pt-lg-0">
            <div class="row">
                <div class="col-md-9 pl-lg-100 pt-lg-100 pr-lg-100">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                        <div class="schedule-box maxwidth500 clearfix mb-30" data-bg-img="@Url.Content("~/Content/yat/")images/pattern/p4.png">
                            <div class="col-md-5 p-0">
                                <div class="thumb">
                                    <img class="img-fullwidth" alt="null" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5851.jpg">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="schedule-details clearfix p-15 pt-30">
                                    <h3 class="title mt-0">Bantuan Pengobatan</h3>
                                    <div class="clearfix"></div>
                                    <p class="mt-10">Pemberian bantuan biaya pengobatan baik individu maupun melalui lembaga bagi dhuafa atau pasien kurang mampu di Rumah Sakit Pemerintah. Adapun bantuan pengobatan bagi pasien kurang mampu di Rumah Sakit Pemerintah telah berjalan sejak tahun 2011.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                        <div class="schedule-box maxwidth500 clearfix mb-30" data-bg-img="@Url.Content("~/Content/yat/")images/pattern/p4.png">
                            <div class="col-md-7">
                                <div class="schedule-details clearfix p-15 pt-30">
                                    <h3 class="title mt-0">Pelayanan Kesehatan Keliling (PK2)</h3>
                                    <div class="clearfix"></div>
                                    <p class="mt-10">Program pelayanan kesehatan Cuma-Cuma untuk masyarakat yang kurang mampu (dhuafa). Bentuk kegiatan pengobatan umum gratis, konsultasi kesehatan gratis. Kegiatan ini dilaksanakan secara mandiri (oleh YAT) maupun dikerjasamakan dengan pihak-pihak eksternal.</p>
                                </div>
                            </div>
                            <div class="col-md-5 p-0">
                                <div class="thumb">
                                    <img class="img-fullwidth" alt="" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5851.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                        <div class="schedule-box maxwidth500 clearfix mb-30" data-bg-img="@Url.Content("~/Content/yat/")images/pattern/p4.png">
                            <div class="col-md-5 p-0">
                                <div class="thumb">
                                    <img class="img-fullwidth" alt="" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5851.jpg">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="schedule-details clearfix p-15 pt-30">
                                    <h3 class="title mt-0">Klinik Kesehatan Cuma-Cuma (K2C)</h3>
                                    <div class="clearfix"></div>
                                    <p class="mt-10">Program layanan kesehatan Cuma-Cuma untuk masyarakat kurang mampu yang diadakan oleh Yayasan Amanah Takaful dengan bentuk pendirian klinik kesehatan. Lokasi dikhususkan di wilayah yang membutuhkan ketersediaan pelayanan kesehatan gratis dan mudah dijangkau. Saat ini, telah berdiri 4 Klinik Kesehatan Cuma-Cuma (K2C) di wilayah Jakarta dan Depok, yakni : K2C Mampang Prapatan – Jakarta Selatan, K2C Senen – Jakarta Pusat, dan 2 buah K2C di Depok.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                        <div class="schedule-box maxwidth500 clearfix mb-30" data-bg-img="@Url.Content("~/Content/yat/")images/pattern/p4.png">
                            <div class="col-md-7">
                                <div class="schedule-details clearfix p-15 pt-30">
                                    <h3 class="title mt-0">Khitanan Massal Ceria (KMC)</h3>
                                    <div class="clearfix"></div>
                                    <p class="mt-10">Program khitanan massal adalah program rutin yang kami lakukan setiap tahun dengan sasaran masyarakat dhuafa yang hendak mengkhitankan putranya dengan tanpa dipungut biaya atau gratis.</p>
                                </div>
                            </div>
                            <div class="col-md-5 p-0">
                                <div class="thumb">
                                    <img class="img-fullwidth" alt="" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5851.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                        <div class="schedule-box maxwidth500 clearfix mb-30" data-bg-img="@Url.Content("~/Content/yat/")images/pattern/p4.png">
                            <div class="col-md-5 p-0">
                                <div class="thumb">
                                    <img class="img-fullwidth" alt="" src="http://amanahtakaful.org/wp-content/uploads/2014/04/DSCN5851.jpg">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="schedule-details clearfix p-15 pt-30">
                                    <h3 class="title mt-0">Donor Darah</h3>
                                    <div class="clearfix"></div>
                                    <p class="mt-10">Program ini dilakukan setiap tiga bulan sekali dengan bekerjasama dengan Palang Merah Indonesia.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 p-ltr-50 bg-sidebar">
                    <div class="sidebar sidebar-right mt-sm-30">
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Archives</h5>
                            <ul class="list-divider list-border list check">
                                <li><a href="#">Vehicle Accidents</a></li>
                                <li><a href="#">Family Law</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Personal Injury</a></li>
                                <li><a href="#">Case Investigation</a></li>
                                <li><a href="#">Business Taxation</a></li>
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Twitter Feed</h5>
                            <div class="twitter-feed list-border clearfix" data-username="Envato"></div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Image gallery with text</h5>
                            <div class="owl-carousel-1col">
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                                <div class="item">
                                    <img src="https://placehold.it/365x230" alt="">
                                    <h4 class="title">This is a Demo Title</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum amet illo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h5 class="widget-title line-bottom">Tags</h5>
                            <div class="tags">
                                <a href="#">travel</a>
                                <a href="#">blog</a>
                                <a href="#">lifestyle</a>
                                <a href="#">feature</a>
                                <a href="#">mountain</a>
                                <a href="#">design</a>
                                <a href="#">restaurant</a>
                                <a href="#">journey</a>
                                <a href="#">classic</a>
                                <a href="#">sunset</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->